{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
 	<head>
    <title>Summer Memory</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
     

<body class="flex flex-col min-h-screen ">
  <div class="flex h-20 items-center space-x-11 bg-black text-white">   <nav class="w-full flex justify-between "> 

        <a href="{% url 'journal:topics' %}" class="" >Summer Memory</a> 
               <p>
<div class="pr-5">
{% if user.is_authenticated %}
<p class="font-black" >Hello {{ user.username }}  </p>
{% else %}
<a href="{% url 'accounts:register' %}" class="font-bold text-lg text-blue-400" >Registration</a>
    <a href="{% url 'accounts:login' %}" class="font-bold text-lg"> Login In </a>
{% endif %}
{% if user.is_authenticated %}
    <hr/>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %} 
    <button type="submit" class="text-white font-bold rounded-lg p-1 hover:bg-white hover:text-black  ">Log out</button>
    </form>
{% endif %}
</p>
</div>
    </nav> </div>

 

   <main class="flex flex-grow  justify-center  ">
    

      {% block content %}

      
    {% endblock content %}


    
    


   </main>


<footer class="bg-blue-50 w-full h-10 "> <p class=" font-extrabold">Copyright</p>

</footer>
</body>	  
  
  
</html>
